<div id="profile-container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <% if current_user.role != 'premium' %>
    <div class="alert alert-warning" role="alert">
      You are missing out on all the awesome benifits of being a premium user. <%= link_to "Upgrade", upgrade_path(:id => current_user.id), method: :get =%> now to get started.
    </div>
  <% end %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <label for="email">Email Address</label>
      <%= f.email_field :email, autofocus: true, id: "email",
        type: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <label for="password">Password<i>(leave blank if you don't want to change it)</i></label>
      <%= f.password_field :password, autocomplete: "off", id: "password", type: "password", class: "form-control" %>
    </div>

    <div class="field">
      <label for="password-confirm">Confirm Password</label>
      <%= f.password_field :password_confirmation, autocomplete: "off", id: "password-confirm", type: "password", class: "form-control" %>
    </div>

    <div class="field">
      <label for="current-password">Current Password<i>(we need your current password to confirm your changes.</i></label>
      <%= f.password_field :current_password, autocomplete: "off", id: "current-password", type: "password", class: "form-control" %>
    </div>

    <br/>
    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary", type: "submit" %>    </div>
  <% end %>

  <br/>

<% if current_user.role == 'premium' %>
   <%= button_to "Cancel Premium", upgrade_path(current_user.id), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>
<% end %>
 <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>
</div>
