<ul class="list-group center-list">
    <% @collaborators.each do |c| %>
        <li class="list-group-item">
            <%= c.email %>
            <%= c.user_id %>
            <%= c.id %>
            <%= form_for c, url: c.wiki_id == nil ? wiki_collaborators_path(@wiki_id) : wiki_collaborator_path(@wiki_id, c.id), method: c.wiki_id == nil ? :post : :delete do |f| %>
                <%= f.hidden_field :wiki_id, value: @wiki_id %>
                <%= f.hidden_field :user_id, value: c.user_id %>
                <%= f.hidden_field :collab_id, value: c.id %>
                <% if c.id == nil %>
                    <%= f.submit "Add", class: "btn btn-primary", type: "submit" %>
                <% else %>
                    <%= f.submit "Remove", class: "btn btn-primary", type: "submit" %>
                <% end %>
            <% end %>
        </li>
    <% end %>
</ul>

